.List {}
.List table{width:100%}
.List table .w1{width:20%}
.List table .w2{width:10%}
.List table .w3{width:20%}
.List table .w4{}
.List table thead{}
.List table thead tr{}
.List table thead tr th{border: 1px solid #dcdcdc; height:50px;vertical-align: middle;}
.List table tbody {}
.List table tbody tr{}
.List table tbody td{ border: 1px solid #dcdcdc; border-bottom: 1px solid #000; padding:15px 0; text-indent: 20px;font-size: 18px;}
.List table tbody td img{ width: 80px; }
.List table tbody tr:hover td{ background: #ECEFF1;}