.Enter {width:1400px;}
.Enter ul {}
.Enter ul li {padding: 15px 0; border-bottom:1px solid #dcdcdc; overflow: hidden;}
.Enter ul li p.pic { width:300px; height:200px ; overflow: hidden; float: left;}
.Enter ul li p.pic img{width:100%}
.Enter ul li div {width:1000px; float:right }
.Enter ul li div h2 {font-size:25px; margin-bottom:20px; color:#000 }
.Enter ul li div p {font-size:18px ; line-height: 1.7;}
