.Health {width:1400px;}
.Health ul {}
.Health ul li {padding: 15px 0; border-bottom:1px solid #dcdcdc; overflow: hidden;}
.Health ul li p.pic { width:300px; height:200px ; overflow: hidden; float: left;}
.Health ul li p.pic img{width:100%}
.Health ul li div {width:1000px; float:right }
.Health ul li div h2 {font-size:25px; margin-bottom:20px; color:#000 }
.Health ul li div p {font-size:18px ; line-height: 1.7;}
