.Main {width:100%; min-width:1600px}
.Main .header{ width: 1400px; margin: auto ; height:80px ;  }
.Main .header ul { overflow: hidden; padding:20px 0}
.Main .header ul li{float: left; margin-right:30px; font-size: 20px;}
.Main .container{width:1400px; margin: auto}
.Main .container h1{font-size: 40px;margin-bottom:40px}